In [1]:
name= "Ajay"

In [2]:
age=22

In [3]:
country="INDIA"

In [4]:
bool= True

In [5]:
print("my name is %s . I am %s years old and i am from %s and i am here to learn python? %s "%\
     (name, age, country, bool))

my name is ajay . I am 22 years old and i am from INDIA and i am here to learn python? True

In [6]:
print("my name is {} . I am {} years old and i am from {} and i am here to learn python? {} "
     .format(name, age, country, bool))

my name is ajay . I am 22 years old and i am from INDIA and i am here to learn python? True

In [9]:
print(f'my name is {name} . I am {age} years old and i am from {country} and i am here to learn python? {bool} ')

my name is ajay . I am 22 years old and i am from INDIA and i am here to learn python? True

In [27]:
tuff=["table of 10",10,20,30,40,50,60,70,80,90,100]

In [28]:
for i in tuff:
 print(i)

table of 10
10
20
30
40
50
60
70
80
90
100

In [11]:
dic_r={}

In [13]:
dic_r['fruit']='apple'

In [14]:
dic_r['animal']='horse'

In [15]:
dic_r['flower']='rose'

In [16]:
dic_r['planet']='mars'

In [24]:
for key, value in dic_r.items():
 print(key,value)

fruit apple
animal horse
flower rose
planet mars

In [65]:
things=list()

In [66]:
things.append(23)

In [68]:
things.append(575)

In [69]:
things.append([45,35,467])

In [71]:
things.append(["books","bag"])

In [72]:
for i in things:
    print(i)

23
575
[45, 35, 467]
['books', 'bag']

In [73]:
total={21,45,34,90}

In [74]:
type(total)

set